@import './mixin.scss';
@import './config.scss';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
//classifyDetail路由页面样式
.nav {
  display: flex;
  padding: 0 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  // z-index: 5;
  background: #ffffff;
  // position: relative;
  li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 8px 0;
  }
  .active {
    position: relative;
    color: #000;
    font-weight: bold;
  }
  .active::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 56px;
    height: 2px;
    content: '';
    background: #e98b71;
    display: block;
    border: 2px;
  }
}
//精华样式
.kuai {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  .kuai1 {
    border-bottom: 1px solid #e7e2e5;
    margin: 15px 0;
  }
  .touxiang {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
  .touxiang1 {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
  .miaoshu {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .timu {
    font-size: 18px;
    font-weight: bold;
  }
}
//最新
.kuai2 {
  .timu1 {
    font-size: 18px;
    font-weight: bold;
  }
  .kuai3 {
    background: rgb(245, 247, 249);
    // @include flex($hov: space-between, $col: center);
  }
  .touxiang2 {
    width: 70px;
    height: 70px;
  }
  .kuai4 {
    display: inline-block;
    margin-left: 10px;
  }
  .ming {
    font-size: 14px;
    font-weight: bolder;
    color: #313131;
    margin-bottom: 0;
  }
  .zuozhe {
    font-size: 13px;
    margin-bottom: 0;
    padding-top: 5px;
  }
}
.kuai5 {
  @include flex($hov: space-between, $col: center);
  margin-top: 10px;
  .touxiang3 {
    width: 17px;
    height: 17px;
    margin-bottom: 3px;
  }
  .xie {
    color: #e98b71;
    vertical-align: middle;
  }
}
//精华详情
.nav1 {
  img {
    float: left;
    @include wH($w: 27px, $h: 27px);
    margin-top: 6px;
    margin-left: 25px;
  }
  h1 {
    font-size: 18px;
    color: #4a4945;
    display: inline-block;
    padding: 8px 0;
    margin-left: 110px;
  }
}
.xiangqing {
  h1 {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
  }
  .tu {
    width: 30px;
    height: 38px;
    border-radius: 50%;
    margin-left: 35px;
  }
  .tu1 {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
  .top1 {
    padding: 10px 0;
    border-top: 10px solid rgb(245, 247, 249);
    border-bottom: 10px solid rgb(245, 247, 249);
  }
}
.xia1 {
  width: 90%;
  margin: 0 auto;
  .tu2 {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-bottom: 10px;
    float: left;
  }
  .pinglun {
    display: inline-block;
    margin-left: 20px;
  }
  p {
    margin: 0;
  }
  .time {
    font-size: 12px;
    color: #999999;
  }
  .neirong {
    color: #4a4945;
    font-size: 17px;
  }
}
.timu {
  margin-left: 35px;
}
//问题部分
.kuai10 {
  width: 90%;
  margin: 0 auto;
  .tt {
    font-size: 18px;
    font-weight: bold;
  }
  .ttt {
    margin-top: 10px;
    background: rgb(245, 247, 249);
  }
  .tttt {
    display: inline-block;
    margin-left: 10px;
  }
  .t {
    width: 70px;
    height: 70px;
    float: left;
  }
  .s {
    font-size: 14px;
    font-weight: bold;
    color: #313131;
    margin-top: 10px;
  }
  .ss {
    font-size: 13px;
    color: #999999;
  }
}
.kuai11 {
  margin-top: 10px;
  background: rgb(245, 247, 249);
  padding: 10px 0;
  span {
    margin-left: 35px;
    font-size: 16px;
    color: #999999;
  }
}
.kuai12 {
  width: 90%;
  margin: 0 auto;
  .tu2 {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-bottom: 10px;
    float: left;
  }
  li {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    .pinglun1 {
      flex: 1;
      margin-left: 20px;
    }
  }
  p {
    margin: 0;
  }
  .time {
    font-size: 12px;
    color: #999999;
  }
  .neirong {
    color: #4a4945;
    font-size: 14px;
  }
}
