*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
//classifyDetail路由页面样式
.nav{
    display: flex;
    padding: 0 20px; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
    background: #ffffff;
    // position: relative;
    li{
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        margin: 8px 0;
    }
    .active{
        position: relative;
        color: #000;
        font-weight: bold;
    }
    .active::after{
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 56px;
        height: 2px;
        content:"";
        background: #E98B71;
        display: block;
        border: 2px;
    }
}
.scrollcontent{
    height: 650px;
    overflow: auto;
    .content{
        padding: 0 15px 10px 15px;
        display: flex;
        justify-content: space-between;
        .imgbox{
            width: 125px;
            height: 90px;
            margin-right: 15px;
            img{
                width: 100%;
                height: 100%;
            border-radius: 5px;

            }
        }
        .text{
            // width: 200px;
            flex: 1;
            height: 90px;
            text-align: left;
            display: flex;
            flex-direction: column;
            padding-bottom: 2px;
            justify-content: space-between;
        h2{
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            line-height: 24px;
            
            width: 100%;

            //两行文本省略号，设置弹性盒子
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            
        }
        .p1{
            margin:0;
            font-size: 12px;
            color: #999;
        }
        .p2{
        
            margin: 0;
            span{
                font-size: 11px;
                color: #4a4945;
                margin-right: 8px;
            }
        }
        }
    }
}
    