@import "./mixin.scss";
@import "./config.scss";
.Header {
  background: $colorI;
  height: 44px;
  z-index: 6;
  @include flex($hov: space-between, $col: center);
  @include position($pos: fixed, $top: 0, $left: 0, $w: 100%, $h: 44px);
  padding: 0 18px;
  margin: 0 auto;
  max-width: 600px;
  box-sizing: border-box;
  margin-top: 4.5px;
  .small {
    width: 27px;
    height: 27px;
    margin: 9.5px 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .center {
    height: 80%;
    margin: 0 auto;
    width: 80%;
    border-radius: 4px;
    zoom: 1;
    background-color: #f5f7f9;
    box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: $colorD;
    img {
      width: 18px;
      height: 18px;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      font-size: 0;
    }
    .search {
      height: 0;
      width: 0;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
    }
  }
}
.Nav {
  width: 100%;
  height: 86px;
  background: $colorJ;
  @include flex($hov: space-between, $col: center);
  .Nav_four {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    width: 25%;
    font-size: 0;
    padding: 10px 0;
    background: $colorI;
    .Nav_img {
      display: inline-block;
      width: 45px;
      height: 45px;
      font-size: 0;
      overflow: hidden;
      img {
        width: 100%;
        overflow: hidden;
      }
    }
    .Nav_txt {
      font-size: 12px;
      color: #4a4945;
      margin-top: 5px;
      line-height: 16px;
    }
  }
}
.Goods {
  min-height: 400px;
  .Title {
    font-size: 0;
    margin: 0 auto;
    padding-top: 30.666666666666668px;
    flex: 1;
    p {
      font-size: 20.85333333333333px;
      line-height: 24px;
      color: #313131;
      vertical-align: middle;
      display: inline-block;
      margin-left: 15px;
      font-weight: bold;
    }
  }
  .recommend {
    width: 100%;
    height: 360px;
    overflow-x: auto;
    @include flex($hov: space-between, $col: center);

    .lei {
      width: 196px;
      height: 330px;
      margin-left: 12px;
      margin-right: 12px;
      position: relative;
      .Study {
        position: absolute;
        left: 0;
        bottom: 68.052px;
        font-size: 13.992px;
        margin: 0 10px;
        padding: 2px 4px;
        border-radius: 4px;
        overflow: hidden;
        color: #4a4945;
        background-color: #fff;
      }

      img {
        width: 196.26666666666668px !important;
        height: 276px !important;
        border-radius: 4px;
      }
      p {
        height: 48px;
        width: 196px;
        color: #4a4945;
        font-weight: bold;
        font-size: 18.4px;
        line-height: 24.84px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}
.Lesson {
  .lessonLists {
    min-height: 412px;
    .tan {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      @include flex($hov: space-between, $col: center);

      .Llei {
        width: 196px;
        height: 330px;
        margin-left: 12px;
        margin-right: 12px;
        position: relative;
        img {
          width: 196.26666666666668px !important;
          height: 276px !important;
          border-radius: 4px;
        }
        p {
          margin-left: 12px;
          height: 48px;
          width: 196px;
          color: #4a4945;
          font-weight: bold;
          font-size: 18.4px;
          line-height: 24.84px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .LStudy {
          position: absolute;
          left: 0;
          bottom: 68.052px;
          font-size: 13.992px;
          margin: 0 10px;
          padding: 2px 4px;
          border-radius: 4px;
          overflow: hidden;
          color: #4a4945;
          background-color: #fff;
        }
      }
    }

    .LTitle {
      width: 100%;
      min-height: 68px;
      display: flex;

      .LTitleLeft {
        font-size: 22px;
        margin: 0 auto;
        padding-top: 31.8px;
        padding-bottom: 12.72px;
        flex: 1;
        font-weight: bold;
      }
      .LTitleRight {
        text-align: right;
        font-size: 18px;
        padding-top: 31.8px;
        padding-right: 19.08px;
        padding-bottom: 12.72px;
        flex: 1;
        color: $colorD;
      }
    }
  }
}
.CopyRight {
  width: 100%;
  min-height: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #f1eeeefd;
  line-height: 22px;
  a {
    color: #939393;
  }
  img {
    vertical-align: middle;
  }
}
.Footer {

  width: 100%;
  ul {
    list-style-type: none;
    height: 49px;
    z-index: 7;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    padding: 0;
    li {
      width: 25%;
      height: 49px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      background-color: $colorI;
      .FootImg {
        font-size: 0;
        width: 25px;
        height: 25px;
        margin: 4px auto;
        overflow: hidden;
        img {
          width: 100%;
          overflow: hidden;
        }
      }
      .FootTxt {
        font-size: 12px;
        color: $colorD;
      }
    }
  }
}
