@import './mixin.scss';
@import './config.scss';
body {
  background: #3fc;
}
.active {
  color: red;
  font-size: 60px;
  font-weight: 900;
}
nav {
  display: flex;
  justify-content: space-around;
}
