@import "./mixin.scss";
@import "./config.scss";
body {
  background: $colorI;
}
.active {
  color: red;
}
// nav {
//   display: flex;
//   justify-content: space-around;
// }
.aaa {
  color: $colorA;
  background: red;
  width: 400px;
  min-height: 30px;
  @include flex($hov: space-between, $col: center);
  div {
    width: 20px;
    height: 20px;
    background: green;
    border: 1px solid #3fc;
  }
}
